.settings {
  margin-top: 20px;
  padding: 10px;
  margin-bottom: 20px;
}
.table {
  margin-bottom: 20px;
}
.status {
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.loading {
  justify-content: center;
}